.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

body {
  margin: 0;
  background: rgb(248, 243, 228);
  font-family: 'Monda', sans-serif;
  font-size: 20px;
}

header {
  background: #FFA69E;
  height: 60px;
  /* border-radius: 0 0 15px 15px; */
  margin-bottom: 10px;
  opacity: 90%;
}


header::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.logo {
  height: 60px;
  float: left;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 10px;

  position: relative;
}

nav a {
  color: #5E6472;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #AED9E0;

  position: absolute;
  margin-top: 55px;
  top: 0;
  width: 0%;

  transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width: 100%;
}

.video {
  margin: -300px;
  width: 1400px;
  height: 900px;
}
.video_frame {
  margin: auto;
  overflow: hidden;
  position:relative;
  max-width: 1380px;
  height: 500px;
  border-radius: 25px;
  /* justify-content: center; */
}
.video_text {
  position:absolute;
  top:70%;
  left: 10px;
  text-align:center;
  margin:0 auto;
  z-index: 100;
  color: #FFA69E;
  /* font-size: xx-large; */
}

/* =================================================== */
/* =================LOG         IN==================== */
/* =================================================== */
.login-main {
  background-color: rgb(248, 244, 230);
  width: 400px;
  height: 400px;
  margin: 10em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.signup-main {
  background-color: rgb(248, 244, 230);
  width: 400px;
  height: 620px;
  margin: 2em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
  padding-top: 40px;
  color: #FFA69E;
  font-weight: bold;
  font-size: 23px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
}

form.form1 {
  padding-top: 40px;
}

.pass {
      width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
}


.un:focus, .pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
  
}

.submit {
cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #FFA69E, rgb(252, 196, 191));
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;
  text-decoration: none
}

@media (max-width: 600px) {
  .login-main {
      border-radius: 0px;
  }
}